<div class="container text-center text-blue">
  <div class="mx-auto max-w-xs">
    <div class="w-[150px] mx-auto">
      {% render 'lalo-tequila' %}
    </div>
    <h1 class="d2 mt-20">Opening Soon</h1>
    {% if shop.password_message != blank %}
      <p class="mt-16">{{ shop.password_message }}</p>
    {% endif %}
    <h2 class="h4 text-gold mt-16">Enter store using password:</h2>
    {% form 'storefront_password' %}
      {% if form.errors %}
        <div class="mt-6 mb-8 text-left text-cognac">
          {{ form.errors | default_errors }}
        </div>
      {% endif %}
      <div class="mt-4">
        <label for="Password" class="sr-only">Password</label>
        <input type="password" name="password" id="Password" autocomplete="current-password" placeholder="Password" class="form-input">
      </div>
      <button name="commit" class="btn btn--primary mt-6">Enter</button>
    {% endform %}
  </div>
</div>

{% schema %}
  {
    "name": "Password",
    "tag": "section"
  }
{% endschema %}
