<div class="container">
  <div class="mx-auto mt-24 max-w-2xl text-center">
    <h1 class="d2">{{ 'templates.404.title' | t }}</h1>
    <div class="pt-12">
      <p>{{ 'templates.404.subtext' | t }}</p>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "404",
    "tag": "section"
  }
{% endschema %}